{% import '_macros.twig' as macro %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
	<title>{{ title }} - Bolt documentation </title>

	<link rel="stylesheet" href="view/css/cheatsheet.css">

    <script src="view/js/jquery.js"></script>
    <script src="view/js/urlify.js"></script>
    <script src="view/js/packery.pkgd.min.js"></script>
    <script src="view/js/cheatsheet.js"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34977638-1']);
        _gaq.push(['_setDomainName', 'docs.bolt.cm']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</head>
<body>


<div class="row">

    <div class="small-6 large-6 columns">
        <h1>Bolt cheatsheet</h1>
    </div>

</div>

<div class="row" id="panels">

    {% for block in cheatsheet %}
    <div class="small-6 medium-3 large-{{block.width|default('2')}} columns">
        <div class="panel">

            <header>
                {{ ('## ' ~ block.title)|markdown }} {# Small trick to get correct <h2> tags from markdown #} 
            </header>

            {# prefix #}
            {% if block.prefix %}{{ block.prefix|markdown }}{% endif %}

            {# table one #}
            {{ macro.table(block.table) }}

            {# postfix #}
            {% if block.postfix %}{{ block.postfix|markdown }}{% endif %}

            {# table two #}
            {{ macro.table(block.table2) }}

            {# links #}
            {% if block.links %}
                <p class='readmore'>
                    Read more: 
                    {% for text, link in block.links %}
                        <a href='{{ link }}'>{{ text }}</a>
                        {%- if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}

        </div>
    </div>
    {% endfor %}

</div>

{{ dump(cheatsheet) }}

</body>
</html>
