{% import '_macros.twig' as macro %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
	<title>{{ title }} - Bolt documentation </title>
	<link rel="stylesheet" href="view/css/cheatsheet.css">
    <script src="view/js/cheatsheet.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34977638-1']);
        _gaq.push(['_setDomainName', 'docs.bolt.cm']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
<div class="contain-to-grid fixed">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>Bolt Cheatsheet <span> - for Bolt {{ version }}</span></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <!--<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>-->
  </ul>


<!--
  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Topics</a>
        <ul class="dropdown">
            {% for block in cheatsheet %}
            <li>
            <a href="#{{block.title|slug}}">{{ block.title }}</a>
            </li>
            {% endfor %} 
        </ul>
      </li>
    </ul>
  </section>
  -->
  
</nav>
</div>

<div class="row panels">

    {% for block in cheatsheet %}
    <div class="small-6 medium-3 large-{{block.width|default('2')}} columns">
        <div class="panel">

            {% if block.title %}
                <header>
                    {% set title = block.title|markdown|replace({'<p>': '', '</p>': ''}) %} 
                    <h2 id="{{ block.title|slug }}">
                        {{ title|raw }}
                        <a href="#{{ block.title|slug}}" class="anchor">&para;</a>
                    </h2>
                </header>
            {% endif %}

            {# prefix #}
            {% if block.prefix %}{{ block.prefix|markdown }}{% endif %}

            {# table one #}
            {{ macro.table(block.table, block.table_linear|default(false)) }}

            {# postfix #}
            {% if block.postfix %}{{ block.postfix|markdown }}{% endif %}

            {# table two #}
            {{ macro.table(block.table2, block.table_linear|default(false)) }}

            {# tip #}
            {% if block.tip %}
                <div class="tip"> {{ block.tip|markdown }}</div>
            {% endif %}


            {# links #}
            {% if block.links %}
                <p class='readmore'>
                    Read more: 
                    {% for text, link in block.links %}
                        <a href='{{ link }}'>{{ text }}</a>
                        {%- if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}

        </div>
    </div>

    {% if block.add_separator %}
    </div>
        <hr>
    <div class="row panels">
    {% endif %}

    {% endfor %}

</div>

{# dump(cheatsheet) #}

<a href="view/images/doge.jpg">wow</a>

</body>
</html>
